*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #444;
}
.contenido a{
    width: 19%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
}

.contenido li:last-child a {
    margin-right: 0;
  }
  
  .contenido a:link, a:visited, a:focus {
    background: antiquewhite;
  }
  
 .contenido a:hover {
    background:rosybrown;
  }

li{
    list-style: none;
}

body{
    background-color: #f1d2b4;
    font-family: 'serif';
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background-color:#ef97a3;
}

nav ul li {
    margin-left: 30px;  
    padding: 12px;
    float: left;
    position: relative;
}

nav ul li a {
    color: #444;
    font-weight: bold;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;
}

.contenido{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.contenido img{
    width: 350px;
    height: 350px;
}

.contenido > div{
    display: grid;
    padding-bottom: 30px;
}

.contenido > div > p,
.contenido > div > ul{
   max-width: 350px;
}

.flex_row{
    display: flex;
}
.boton{
    border-radius: 25px;
}

